body {
  background: url(picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.App {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  color: rgb(38, 53, 114);
}
p {
  font-family: 'Rajdhani', sans-serif;
padding: 5px;
margin: 0px;
}

/* Patients info */
.whole-info {
  width: 60%;
  margin: 30px;
  padding: 10px;
  height: 100vh;
}
.myInput{
  border-radius: 5px;
  height: 30px;
  font-family: 'Rajdhani', sans-serif;
}
.name {
  width: 100%;
  margin: 0px;
  height: 10px;
  padding: 10px;
}
.p-name {
  display: flex;
  }

.info {
  display: flex;
  flex-direction: column;
}
.prescriptions {
  border-radius: 5px;
}
textarea {
  border-radius: 5px;
  margin-top: 20px;
  height: 140px;
  padding: 10px;
  font-family: 'Rajdhani', sans-serif;
}

/* Patient card */
.cards {
  margin-left: 10px;
}

.add-card {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(26, 115, 129);
  color: white;
  font-weight: bold;
}
.delete-card {
  font-family: 'Rajdhani', sans-serif;
  font-size: 10px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(129, 26, 72);
  color: white;
  font-weight: bold;
}

.patient{
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.p-selected {
  background-color: rgb(203, 227, 230);
}
.p-default {
  background-color: white;
}

.date {
  font-weight: bold;
  
}